.header {
    position: fixed;
    transition: .3s;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.45) 30%, rgba(0, 0, 0, 0) 100%);
    &.change-bg{
        background: rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(4px);
        .header__inner {
            border-bottom:none;
        }
    }
}

.header__inner {
    height: 91px;
    width: 100%;
    border-bottom: 1px solid rgba(#fff, .53);
    position: relative;
    transition: .3s;

    .row {
        height: 100%;
    }

}

.header__mobile-menu {
    display: none;
}

.header__menu {
    nav>ul {
        display: flex;
        height: 91px;

        >li {
            height: 100%;
            display: flex;
            align-items: center;

            +li {
                margin-left: 90px;
            }

            &.submenu {
                position: relative;

                >a {
                    position: relative;
                    padding: 10px 37px 10px 15px;
                    border-radius: 20px;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 13px;
                        right: 15px;
                        top: 45%;
                        border-right: 6px solid transparent;
                        border-left: 6px solid transparent;
                        border-top: 6px solid #fff;
                        transition: .4s;
                    }
                }

                &:hover {
                    >a {
                        color: #fff;
                        background-color: rgba(#589802, .46);

                        &:after {
                            transform: rotate(180deg);
                        }
                    }

                }

                .dropdown {
                    position: absolute;
                    top: 100%;
                    width: 1067px;
                    background-color: rgba(#fff, .9);
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 25px;
                    transition: .4s;
                    z-index: -1;
                    visibility: hidden;
                    opacity: 0;

                    img {
                        border-radius: 20px;
                        width: 45%;
                        height: 100%;
                        object-fit: cover;
                    }

                    ul {
                        padding-left: 50px;
                    }

                    li {
                        margin-bottom: 35px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    a {
                        color: #1F1F1F;
                        font-size: 20px;
                        font-weight: 500;
                        transition: .3s;

                        &:hover {
                            color: #497F00;
                        }
                    }
                }

                &:hover .dropdown {
                    z-index: 9;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    a {
        color: #FFFFFF;
        font-size: 17px;
        transition: .3s;

        &:hover {
            color: #497F00;
        }
    }



}

.header__logo {
    text-align: center;

    a {
        display: inline-block;
    }
}

.header__button {
    text-align: right;

    a {
        display: inline-block;
        padding: 13px 35px;
        border-radius: 40px;
        background: rgba(#fff, .6);
        color: #111111;
        font-size: 16px;
        transition: .3s;
        font-weight: 500;

        &:hover {
            background: rgba(#fff, 1);
            color: #497F00;
        }
    }
}

.burger {
    display: none;
}


//  ADAPTIVE --- //

@media (max-width: 991.8px) {
    .header__mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9;
        background-color: rgba(#fff, .85);
        backdrop-filter: blur(4px);
        width: 50%;
        height: 100vh;
        display: flex;
        transform: translateX(110%);
        transition: .6s;
        padding: 110px 40px 30px;

        &.active {
            transform: translateX(0%);
        }

        nav>ul {
            >li {
                margin-bottom: 25px;

                a {
                    font-size: 16px;
                    color: #111111;
                    font-weight: 600;
                }

                &.submenu-mobile {
                    .dropdown {
                        max-width: 220px;
                        display: none;
                        padding: 10px 0 0px 30px;

                        li {
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            a {
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }

                    }
                }
            }
        }
    }

    .header__menu {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__logo {
        text-align: left;
    }

    button.burger {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 24px;
        height: 16px;
        border: none;
        background: transparent;
        z-index: 15;
        cursor: pointer;
        padding: 0;
        margin: 0 0 0 auto;

        &:focus {
            outline: none;
        }



        &:after,
        &:before,
        span {
            width: 100%;
            height: 2px;
            border-radius: 100px;
            position: absolute;
            display: block;
            background: #fff;
            right: 0;

        }

        &:after,
        &:before {
            content: "";
            transition: 0.3s width 0.4s;
        }

        &:after {
            top: 0px;
            left: 0px;
            margin-top: 0px;
        }

        &:before {
            bottom: 0px;
            right: 0px;
            margin-bottom: 0px;
        }

        span {
            top: 50%;
            margin-top: -1px;
            transition: 0.3s;

            &:before {
                content: "";
                background: #fff;
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                left: 0px;
                transition: 0.3s;
            }
        }

        &.on {


            &:after {
                transition: all 0.2s;
                width: 0%;
                left: 0px;
                background: #111111;
            }

            &:before {
                transition: all 0.2s;
                width: 0%;
                right: 0px;
                background: #111111;
            }

            span {
                transform: rotate(45deg);
                transition: 0.3s transform 0.4s;
                background: #111111;

                &:before {
                    transform: rotate(-90deg);
                    transition: 0.3s transform 0.4s;
                    background: #111111;
                }
            }
        }
    }
}

@media (max-width: 767.8px) {
    .header__mobile-menu {
        width: 70%;
    }
}

@media (max-width: 575.8px) {
    .header__mobile-menu {
        width: 100%;
    }
}